In [ ]:
import sqlite3

In [ ]:
db_file = "acme.db"  # Change to your actual DB path
connection = sqlite3.connect(db_file)
curr = connection.cursor()
print(f"Connected to {db_file} . . .")

In [ ]:
def query_database():
    """output list of tables from database for user to select"""
    curr.execute("SELECT name FROM sqlite_master WHERE type='table';")
    result_set = curr.fetchall()

    print(f"{'TABLES':-^26}")
    for table in result_set:
        print(table[0])

In [ ]:
def query_table(name):
    """query table selected by user, and convert all data points (dp) to string,
     and return clean column names, and data set for presentation"""
    
    curr.execute(f"SELECT * FROM {name};")
    table_set = curr.fetchall()

    curr.execute(f"PRAGMA table_info({name});")
    query = curr.fetchall()

    column_names = []
    for col in query:
        column_names.append(col[1])

    data_set = []
    for row_set in table_set:
        row_data = []
        for dp in row_set:
            if type(dp) is int:
                row_data.append((str(dp)))
            elif type(dp) is float:
                row_data.append(f"{dp:.2f}")
            else:
                row_data.append(dp)
        data_set.append(row_data)
    
    return column_names, data_set

In [ ]:
def ouput_table_data(name):

    columns, data_set = query_table(name)

    print(f"Table: {name.title()}")

    column_header = "".join([f"{column.upper():<20}" for column in columns])
    print(column_header)
    print("-"*len(column_header))

    for row in data_set:
        print("".join([f"{value.title():<20}" for value in row]))

In [221]:
query_database()

----------TABLES----------
customers
food
inventory
employees
fleet

In [ ]:
# Prompt the user to select a table name
table_name = input("\nEnter table name from list above: ")

ouput_table_data(table_name)